{
  "parser": "babel-eslint",
  "env": {
      "browser": true
  },
  "plugins": [
      "react",
      "jsx-ally",
      "import"
  ],
  "extends": [
    "airbnb",
      "eslint:recommended",
      "plugin:react/recommended"
  ],
  "rules": {
  }
}